<ion-header>
    <ion-navbar>
        <ion-title>Basic Example</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label>Simple Picker</ion-label>
        <xine-single-line-container>
            <ion-input></ion-input>
            <ion-input></ion-input>
            <ion-input></ion-input>
        </xine-single-line-container>
        <<!--ion-multi-picker  id='simple' item-content [multiPickerColumns]="simpleColumns"></ion-multi-picker>-->
    </ion-item>
</ion-content>